/* @font-face {
  font-family: "Iranian Sans";
  src: local("Iranian Sans"),
   url("./fonts/") format("truetype");
  font-weight: bold;
  }
   */
   @font-face {
    font-family: 'Vazir';
    src: local("Vazir") , url("./fonts/Vazir.ttf") format('truetype');
  }   
   

body {


 

  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
   font-family: 'Vazir'; 

   background-color: #ddd;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
